.container{
    display:grid;
    background-color: chocolate;
    grid-template-columns: 45px auto ;
    height:80vh;
    /* grid-column-gap:23px;
    grid-row-gap:2px; */
    grid-gap: 2px 5px;
    /* grid-template-rows: 60px 123px; */
    grid-template-columns: auto auto auto auto ;
    grid-column: 1/2;
}
.item{
    display:grid;
    border:3px solid rgba(0, 0, 255, 0.918);
    background-color: aqua;
    height:56px;
    /* grid-row: 1/2;
    grid-template-rows: auto auto auto; */
}
